* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background: #212121;
  }
  
  .container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: #fff;
  }
  
  .calc-body {
    margin: auto;
    min-height: 400px;
  }
  .calc-table{
    width: 100%;
    border-collapse: collapse;
  }
  .calc-table td{
    border:0;
    padding: 6px;
  }
  .calc-screen {
    background: #fff;
    width: 100%;
    padding: 25px 20px;
    border: 2px solid #ccd0d2;
    border-radius: 10px;
    min-height: 107px;
  }
  
  .calc-operation {
    text-align: right;
    color: #727B86;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: dotted 1px;
  }
  
  .calc-typed {
    font-size: 45px;
    text-align: right;
    color: #212121;
    overflow-x: auto;
  }
  
  .calc-button-row {
    width: 100%;
    background: #fff;
  }
  
  .button {
    width: 100%;
    background: #f2f4f5;
    color: #212121;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin-right: -4px;
    border: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
  }
  button:hover{
    cursor: pointer;
  }
  button:focus,
  button:active{
    outline: none;
    box-shadow: none;
    border:0;
  }

  .button.equal{
    background: #4286f6 !important;
    color: #fff !important;
  }
  .button.equal:hover{
    background: #1b61d4 !important;
  }

  
  .button.c:hover,
  .button.l:hover {
    background: #7a7b7b;
    color: #fff;
  }
  
  .blink-me {
    color: #E0B612;
  }